body {
  background-color: #eee;
}

#drag-and-drop {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.box {
  position: absolute;

  background-color: #333;
  cursor: pointer;
}
